{% extends "core/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/metronome.css" %}">
    <script src="{% static "js/metronome.js" %}"></script>
{% endblock head %}

{% block body %}
    <div class="container">
        <h1>Inner Metronome</h1>
        <div class="metronome">
            <div class="tempo-control">
                <label for="tempo">Tempo (BPM):</label>
                <input type="number" id="tempo" min="30" max="240" step="1" value="120">
            </div>
            <button id="start-stop">Start</button>
        </div>
    </div>
{% endblock body %}
